.wrapper{
    height: 300px;
    padding: 80px;
}

.title{
    text-align: center;
 
}

.form{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}
.input {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #cccccc; 
  border-radius: 3px;
  background: #ffffff;
  outline: none;
  margin-bottom: 10px;
  height: 24px;
  width: 300px; 
  font-size: 14px;
  transition: all 250ms;
}
input:focus {
  border: 1px solid #000000;
}

.registration{
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

