

.button {
  max-height: 25px; 
  background: #3e9f85 linear-gradient(#3e9f85, #3e9f85);
  transition: all .218s ease 0s;
}
.button:hover {
  color: rgb(24,24,24); 
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  }

