.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 200px; 
  font-size: 14px;
  background-color: #b3f3e242;

}

