.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid #cccccc; 
  border-radius: 3px;
  background: #ffffff;
  outline: none;
  height: 24px;
  width: 200px; 
  font-size: 14px;
  transition: all 250ms;
}

input:focus {
  border: 1px solid #000000
}